<!DOCTYPE html>

<html lang="en-us">

<head>
<meta charset="utf-8">
<title>Capstone</title>

<link href="{{ STATICFILES_DIRS }}styles.css" rel="stylesheet" type="text/css" />
<!--<link rel="stylesheet" type="text/css" href="/home/ubuntu/workspace/cylc_webapp/jinja2/static/styles.css">-->
<style type="text/css">
    .navbar {
    overflow: hidden;
    background-color:#DCDAD5;
    font-family: Arial, Helvetica, sans-serif;
    
}
hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.9em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 

.navbar a {
    float: left;
    font-size: 11px;
    color: Black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black ;
    color: WHITE;
    
}


.dropdown:hover .dropdown-content {
    display: block;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
}

.label {
    background-color: #DCDAD5;
    width: 600px;
    padding: 10px;
   border:solid 1px black;

   
}
</style>

<script type="text/javascript">
var timer = function() {
    setTimeout(function(){ window.location.reload(); }, 1500);
};
timer();
</script>
</head>
<body style="background-color:#DCDAD5;">

<div class="navbar">
  <a href="#home"><u>F</u>ile</a>
  <a href="#news"><U>V</U>iew</a>
  <a href="#news"><u>C</u>ontrol</a>
  <a href="#news"><u>S</u>uite</a>
  <a href="#news"><u>H</u>elp</a>
</div>

    <hr>
    

    <button class="navbar" style="float:left;margin-right:45px;margin-top: 0.0em;">
        <img src="/cylc_webapp/jinja2/static/Pictures/pause.png" height="25" width="25"  />
        <p style="text-align:center;margin-top: 0.0em;"> Hold </p>
    </button>
    
    <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/1486348535-music-square-stop-play-pause_80450.png" height="25" width="25"   />
        <p style="text-align:right;margin-top: 0.0em;"> Stop Suite </p>
    </button>
    
    <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/Simpleicons_Interface_redo-circular-arrow.svg.png" height="25" width="25"   />
        <p style="text-align:right;margin-top: 0.0em;"> (Re-) connect </p>
    </button>
    
    
    <div class="navbar" style="float:left;margin-right:35px; align=bottom ; text-align:right;margin-top: 29px " > View 1: </div>
    
    <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/026_-_health_care_healthcare_plus_cross_hospital-512.png" height="25" width="25"  />
        <p style="text-align:right;margin-top: 0.0em;"> Expand </p>
    </button>
    
      <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/5075.png" height="25" width="25"   />
        <p style="text-align:right;margin-top: 0.0em;"> Collapse  </p>
    </button>
    
     <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/group-objects.png" height="25" width="25"  />
        <p style="text-align:right;margin-top: 0.0em;"> Group </p> 
    </button>
    
       <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/Forward_2-512.png" height="25" width="25"  />
        <p style="text-align:right ;margin-top: 0.0em; margin-right: 5.0em"> Layout  </p> 
           </button>
        
        
            <div class="navbar" style="float:left;margin-right:35px; align=bottom ; text-align:right;margin-top: 29px " > View 2: </div>
        
          <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/group-objects.png" height="25" width="25"  />
        <p style="text-align:right;margin-top: 0.0em;"> Group </p> 
       </button>
       
       <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/ungroup-objects.png" height="25" width="25"  />
        <p style="text-align:right;margin-top: 0.0em;"> Ungroup </p> 
       </button>
       
        <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/40-512.png" height="25" width="25"  />
        <p style="text-align:right;margin-top: 0.0em;"> Transpose </p> 
       </button>
       
          <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/5967-200.png" height="25" width="25"  />
        <p style="text-align:right;margin-top: 0.0em;"> Subgraphs </p> 
       </button>
       
            <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/zoom-in-512.png" height="25" width="25"  />
        <p style="text-align:right;margin-top: 0.0em;"> Zoom In </p> 
       </button>
       
       <button class="navbar" style="float:left;margin-right:35px; align=right">
        <img src="/cylc_webapp/jinja2/static/Pictures/4-512.png" height="25" width="25"  />
        <p style="text-align:right;margin-top: 0.0em;"> Zoom Out </p> 
       </button>
    
    
    
 
    
 
    
    
    
    <br><br><br><br>
    

 <hr>
<!--<span class="label" > task  </span>-->
<!--<span class="label"> state </span>-->
<!--<span class="label"> host  </span>-->
<!--<span class="label"> job system </span>-->
<!--<span class="label"> job ID  </span>-->
<!--<span class="label"> T-submit </span>-->
<!--<span class="label"> T-start  </span>-->
<!--<span class="label"> T-finish </span>-->
<!--<span class="label"> dT-Mean  </span>-->
<!--<span class="label"> latest message </span>-->
<br>
 


{# data[0] #} 
{{ static('styles.css') }}
 <div style="height:800px;border:1px solid #000; background-color:white;">
     
     <table id="JobDisplay">

    <!--set up header-->
    
    <!--this isn't the right way to do it, placeholder-->
    
    <th>name</th>
    <th>label</th>
	<th>state</th>
	<th>host</th>
	<th>latest_message</th>
	<th>batch_sys_name</th>
	<th>submit_method_id</th>
	<th>submitted_time_string</th>
	<th>started_time_string</th>
	<th>finished_time_string</th>
	<th>mean_elapsed_time</th>
	
    <!--fill rows/col-->
    {% for item in data %}
	<tr>
		
		<td>{{ item["name"] }}</td>
		<td>{{ item["label"] }}</td>
		<td>{{ item["state"] }}</td>
		<td>{{ item["host"] }}</td>
		<td>{{ item["latest_message"] }}</td>
		<td>{{ item["batch_sys_name"] }}</td>
		<td>{{ item["submit_method_id"] }}</td>
		<td>{{ item["submitted_time_string"] }}</td>
		<td>{{ item["started_time_string"] }}</td>
		<td>{{ item["finished_time_string"] }}</td>
		<td>{{ item["mean_elapsed_time"] }}</td>
		
		
	</tr>
    {% endfor %}
</table>
     
     
 </div>
  





</body>
</html>












<!-

<style>


.square {
  height: 10px;
  width: 10px;
}

</style>
<script>

    if ( item["state"]  == failed) {
    <div class="square" style="background-color: red"> </div>
    }
    if ( item["state"]  == running) {
    <div class="square" style="background-color: green"> </div>
    }
    if ( item["state"]  == queued) {
    <div class="square" style="background-color: yellow"> </div>
    }
    if ( item["state"]  == waiting) {
    <div class="square" style="background-color: blue"> </div>
    }
    if ( item["state"]  == ready) {
    <div class="square" style="background-color: brown"> </div>
    }
    if ( item["state"]  == held) {
    <div class="square" style="background-color: pink"> </div>
   
    }
}
</script>

-->
