
        <!--Buttons that currently have no function: -->
        <!--<div id="buttons">-->
        <!--<hr>-->
      
        <!--    <button class="navbar" style="float:left;margin-right:45px;margin-top: 0.0em;">-->
        <!--        <img src="{{ static('Pictures/pause.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:center;margin-top: 0.0em;"> Hold </p>-->
        <!--    </button>-->
            
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/1486348535-music-square-stop-play-pause_80450.png') }}" height="25" width="25"   />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Stop Suite </p>-->
        <!--    </button>-->
            
        <!--    <button id="refresh" class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/Simpleicons_Interface_redo-circular-arrow.svg.png') }}" height="25" width="25"   />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> (Re-) connect </p>-->
        <!--    </button>-->
            
            
        <!--<div class="navbar" style="float:left;margin-right:35px; align=bottom ; text-align:right;margin-top: 29px " > View 1: </div>-->
            
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/026_-_health_care_healthcare_plus_cross_hospital-512.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Expand </p>-->
        <!--    </button>-->
            
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/5075.png') }}" height="25" width="25"   />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Collapse  </p>-->
        <!--    </button>-->
            
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/group-objects.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Group </p> -->
        <!--    </button>-->
            
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/Forward_2-512.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:right ;margin-top: 0.0em; margin-right: 5.0em"> Layout  </p> -->
        <!--    </button>-->
                
                
        <!--<div class="navbar" style="float:left;margin-right:35px; align=bottom ; text-align:right;margin-top: 29px " > View 2: </div>-->
                
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/group-objects.png') }} " height="25" width="25"  />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Group </p> -->
        <!--    </button>-->
               
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/ungroup-objects.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Ungroup </p> -->
        <!--    </button>-->
               
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/40-512.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Transpose </p> -->
        <!--    </button>-->
               
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/5967-200.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Subgraphs </p> -->
        <!--    </button>-->
               
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/zoom-in-512.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Zoom In </p> -->
        <!--    </button>-->
               
        <!--    <button class="navbar" style="float:left;margin-right:35px; align=right">-->
        <!--        <img src="{{ static('Pictures/4-512.png') }}" height="25" width="25"  />-->
        <!--        <p style="text-align:right;margin-top: 0.0em;"> Zoom Out </p> -->
        <!--    </button>-->
        <!--<br><br><br><br>-->
        <!--<hr>-->
        <!--</div>-->
        